<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registro de usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nombre">nombre</label>
        <div class="input-group">
          <input id="nombre" type="text" class="form-control" placeholder="nombre del usuario" name="nombre"
            [(ngModel)]="registroUsuario.nombre">
        </div>
      </div>
      <div class="form-group">
        <label for="edad">edad</label>
        <div class="input-group">
          <input id="edad" type="number" class="form-control" placeholder="edad del usuario" name="edad"
            [(ngModel)]="registroUsuario.edad">
        </div>
      </div>
      <div class="form-group">
        <label for="cargo">cargo</label>
        <div class="input-group inline-input">
          <select id="cargo" type="text" class="form-control mr-2 rounded" name="cargo"
            [(ngModel)]="registroUsuario.cargo.id">
            <option disabled>seleccionar</option>
            <option *ngFor="let cargo of todosCargos" value={{cargo.id}}>{{cargo.nombre}}</option>
          </select>
          <div class="input-cargo">
            <input id="cargoCrear" class="form-control ml-2 rounded" placeholder="crear nuevo cargo" name="cargoCrear"
              [(ngModel)]="registroUsuario.cargo.nombre">
            <button class="btn btn-info" (click)="crearCargo()">crear</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="fechaIngreso">Fecha ingreso compañia</label>
        <div class="input-group">
          <input id="fechaIngreso" type="date" class="form-control"
            placeholder="fecha de ingreso del usuario a la compañia" name="fechaIngreso"
            [(ngModel)]="registroUsuario.fechaIngreso">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit(modal.close)">guardar registro</button>
  </div>
</ng-template>

<button class="btn btn-md btn-outline-primary" (click)="open(content)">registro usuarios</button>
